<div id="data-grid-demo">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="clientes"
    keyExpr="id"
    [showBorders]="true"
  >
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowAdding]="true"
      [allowDeleting]="true"
    >
      <dxo-popup
        title="Employee Info"
        [showTitle]="true"
        [width]="700"
        [height]="525"
      >
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="6" [colSpan]="6">
          <dxi-item dataField="Nome"></dxi-item>
          <dxi-item dataField="Código"></dxi-item>
          <dxi-item
            dataField="Notes"
            editorType="dxTextArea"
            [colSpan]="6"
            [editorOptions]="{ height: 100 }"
          >
          </dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>
  </dx-data-grid>
</div>

