<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label">Estado</div>
    <div class="dx-field-value">
      <dx-select-box [items]="estados"
                      valueExpr="id"
                      displayExpr="sigla"></dx-select-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Cidade</div>
    <div class="dx-field-value">
      <dx-select-box [items]="cidades"
                     valueExpr="id"
                     displayExpr="nome"></dx-select-box>
    </div>
  </div>
</div>



